:root {
  --black: #000000;
  --dash-dark: #0d0d0d;
  --hover-dark: #1A1A1A;
  --gray-text: #333333;
  --gray-avb: #666;
  --gray-border: #f2f2f2;
  --gray-icon: #CCCCCC;
  --white-bg: #FFFFFF;
  --green: #4bcc00;
  --dark-green: #35AF00;
  --dark-mode-green: #6ccf59;
  --dark-mode-green-bg: #111E13;
  --hover-green: #35AF00;
  --up-green: #34b349;
  --up-green-bg: #DEEBE0;
  --down-red: #f02934;
  --down-red-bg: #F1DDDE;
  --dark-mode-red: #ff4d4d;
  --dark-mode-red-bg: #241011;
  --gray-hover: #F2F2F2;
  --orange-bitcoin: #F7931A;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  color: var(--orange-bitcoin);
  font-size: 2rem;
}

#darkToggleBtn {
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-table {
  margin-top: 100px;
  border: 1px solid var(--gray-border);
  border-radius: 40px;
}

#cryptoDashboard {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 400px;
}

#cryptoDashboard thead tr {
  color: var(--gray-text);
  text-align: left;
  font-size: 1.1rem;
}

#cryptoDashboard thead tr th {
  font-weight: 400;
}

#cryptoDashboard th,
td {
  padding: 12px 15px;
}

#cryptoInfo {
  cursor: pointer;
}

#cryptoInfo:hover {
  background-color: var(--gray-hover);
}

#cryptoImg {
  width: 100%;
  max-width: 30px;
}

.crypto-name-img {
  display: flex;
  align-items: center;
  gap: 10px;
}

#cryptoName {
  font-size: 1.2rem;
  font-weight: 500;
}

#cryptoAbbreviation {
  color: var(--gray-avb);
  font-weight: 400;
  text-transform: uppercase;
}

.crypto-price-box div {
  display: flex;
}

#cryptoChange {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.bull-circle {
  width: 6px;
  height: 6px;
  background-color: var(--gray-icon);
  border-radius: 50%;
  display: inline-block;
}

.up {
  color: var(--up-green);
  background-color: var(--up-green-bg);
}

.down {
  color: var(--down-red);
  background-color: var(--down-red-bg);
}

.dark-up {
  color: var(--dark-mode-green);
  background-color: var(--dark-mode-green-bg);
}

.dark-down {
  color: var(--dark-mode-red);
  background-color: var(--dark-mode-red-bg);
}

.body-dark {
  background-color: var(--black);
}

.logo-dark {
  color: var(--white-bg);
}

.btn-dark {
  color: var(--white-bg);
}

.tr-dark {
  background-color: var(--dash-dark);
}

.content-table-dark {
  margin-top: 100px;
  background-color: var(--dash-dark);
  border: 1px solid var(--dash-dark);
  border-radius: 40px;
}

.dashboard-dark {
  background-color: var(--dash-dark);
}

.body-dark #cryptoInfo:hover {
  background-color: var(--hover-dark);
}

.text-dark {
  color: var(--white-bg);
}


@media all and (max-width: 480px) {

  #cryptoDashboard thead {
    display: none;
  }

  #cryptoName {
    font-size: 1rem;
  }

  #cryptoAbbreviation {
    display: none;
  }

  #cryptoPrice {
    font-size: .9rem;
  }

}