:root {
  --black: #000000;
  --gray-text: #333333;
  --gray-avb: #666;
  --gray-border: #f2f2f2;
  --gray-icon: #CCCCCC;
  --white-bg: #FFFFFF;
  --green: #4bcc00;
  --dark-green: #35AF00;
  --hover-green: #35AF00;
  --up-green: #34b349;
  --up-green-bg: #DEEBE0;
  --down-red: #f02934;
  --down-red-bg: #F1DDDE;
  --gray-hover: #F2F2F2;
  --orange-bitcoin: #F7931A;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  color: var(--orange-bitcoin);
  font-size: 2rem;
}

.user:hover {
  cursor: pointer;
}

.user i {
  font-size: 1.5rem;
  color: var(--gray-icon);
  border: 1px solid var(--gray-icon);
  background-color: var(--white-bg);
  padding: 10px;
  border-radius: 30px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-table {
  margin-top: 100px;
  border: 1px solid var(--gray-border);
  border-radius: 40px;
}

#cryptoDashboard {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 400px;
}

#cryptoDashboard thead tr {
  background-color: var(--white-bg);
  color: var(--gray-text);
  text-align: left;
  font-size: 1.1rem;
}

#cryptoDashboard thead tr th {
  font-weight: 400;
}

#cryptoDashboard th,
td {
  padding: 12px 15px;
}

#cryptoInfo {
  cursor: pointer;
}

#cryptoInfo:hover {
  background-color: var(--gray-hover);
}

#cryptoImg {
  width: 100%;
  max-width: 30px;
}

.crypto-name-img {
  display: flex;
  align-items: center;
  gap: 10px;
}

#cryptoAbbreviation {
  color: var(--gray-avb);
  font-weight: 400;
  text-transform: uppercase;
}

#cryptoName {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 500;
}

.up {
  color: var(--up-green);
  background-color: var(--up-green-bg);
}

.down {
  color: var(--down-red);
  background-color: var(--down-red-bg);
}

@media all and (max-width: 480px) {

  #cryptoName {
    font-size: 1rem;
  }
}